@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 100vw;
	min-height: 100vh;

	background: #111;
	color: white;

	overflow-x: hidden;
}

nav > ul > li {
	position: relative;

	color: white;
	opacity: 0.9;
}

nav > ul > li::before {
	content: "";
	width: 0%;
	height: 2px;
	background: rgb(26, 226, 26);

	position: absolute;
	bottom: -5px;

	transition: 0.2s width ease-in;
}

nav > ul > li:hover::before {
	width: 100%;
	opacity: 1;
}

.title {
	background: linear-gradient(to bottom, #194c33, #bbb);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
